@model MusicApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="col-md-2 details">
<div class="wrapper">
    <div class="vertical"><h1>@Html.DisplayFor(model => model.Title)</h1></div>
</div></div>

<div class="col-md-4">
    <img src="@Html.DisplayFor(model => model.AlbumPhoto)" class="album-details" />

</div>

<div class="col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h6>@Html.DisplayFor(model => model.Artist.Name)</h6>
            <p>
            Genre : @Html.DisplayFor(model => model.Genre)<br /><br />
            Release Date : @Html.DisplayFor(model => model.YearReleased)<br /><br />
            Grammy Winner? : @Html.DisplayFor(model => model.WonGrammy)<br /><br /><br />
                @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>

</div>
</div>

