@model IEnumerable<MusicApp.Models.Album>

@{
    ViewBag.Title = "Index";
}

<div class="barHorz barLeft2"></div>

        <h2>Albums</h2>
        <p>
            <button type="button" class="btn btn-success">Add Album<a href="/Albums/Create"> <i class="fas fa-plus-circle"></i></a></button>
        </p>



@foreach (var item in Model)
{

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                <h6>@Html.DisplayFor(modelItem => item.Artist.Name)</h6>
                <img src="@Html.DisplayFor(modelItem => item.AlbumPhoto)" class="album-art">
                <p>
                    @Html.DisplayFor(modelItem => item.Genre) <br />
                </p>
                <a href="@Url.Action("Edit", "Albums", new { id = item.AlbumID })" class="fas fa-edit"></a>
                <a href="@Url.Action("Details", "Albums", new { id = item.AlbumID })" class="fas fa-info-circle"></a>
                <a href="@Url.Action("Delete", "Albums", new { id = item.AlbumID })" class="fas fa-trash-alt"></a>
            </div>
        </div>
    </div>

}

</div>
